/*======================
		IMPORTS
=======================*/
@import 'normalize.css';

/*======================
	CONFIGURATION
=======================*/
* {
	box-sizing: border-box
}
body{
	background-color: #f6f7f7;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
figure{
	margin:0;
}
ul,li,p{
	margin: 0;
	padding: 0;
}
/*======================
		OOCSS
=======================*/
.action {
    color: #272727;
    font-size: 1.2em;
    margin: .5em;
}
.activeSong{
	background-color: #592a7e;
	color: white;
}
.activeSong:hover{
	background-color: #592a7e !important;
	color: white !important;
}
.btn{
	display: inline-block;
    -moz-user-select: none;
    -ms-touch-action: manipulation;
    -ms-user-select: none;
    -webkit-user-select: none;
    background-image: none;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}
.border-bottom{
	border-bottom: 1px solid #818181;
}
.container{
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.center-text{
	text-align: center;
}
.left{
	float: left;
}
.right{
	float: right;
}
.title{
	color:#592a7e;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	text-shadow: .045em .045em rgba(0,0,0,.333);
}
.title strong{
	font-weight: bolder;
}
.shadow-depth-1{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.shadow-depth-2{
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shadow-depth-4{
	box-shadow:0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.figure{
	padding: 4px;
}
.padding-tb{
	padding-top: 10px;
}
.rounded{
	border-radius: 100%;
}
.text{
	font-size: 1em;
	line-height: 1.5em;
}
.text-white{
	color:white;
}
.fixed{
	position: fixed;
}

/*==============================
	HEADER COMPONENT
================================*/
.Header{
	background: url('../img/bg_home.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	position: relative;
	width: 100%;
}
.Header__Slogan h2 small{
	text-transform: capitalize;
	font-size: 16px;
}

.Header__top{
	background-color: white;
	padding: 5px;
	height: 70px;
}
.menu__icon{
	color:#272727;
	font-size: 1.5em;
	line-height: 2.65em;
}
.menu__list{
	display: none;
}

.Header__logo{
	color: white;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 130px;
	position: absolute;
	right: 0;
	max-width: 50%;
}
.Header__logo h1{
	font-size: 4em;
}
.Header__logo--figure{
	background-color: rgba(0,0,0,.75);
	color: white;
	height: 110px;
	line-height: 1em;
	position: relative;
	text-align: center;
	width: 200px;
}
.Header__logo--figure:before{
	content: "";
	position: absolute;
	top: -50px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 50px solid rgba(0,0,0,.75);
}
.Header__logo--figure:after{
	content: "";
	position: absolute;
	bottom: -50px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 50px solid rgba(0,0,0,.75);
}
.Header__logo--figure span{
	display: block;
	font-size: 1.2em !important;
	margin-top: 3px;
}
.Header__logo--figure i{
	display: block;
	font-size: 5em;
}
/*======================
	ALBUMS COMPONENT
=======================*/
.Albums{
	background-color: white;
	max-width: 100%;
	overflow: hidden;
	text-align: center;
	padding: 30px 0px;
}
.Albums h2.title{
	font-size: 3em;
}
.Album{
	background-color: #ECECEC;
	border-radius: 5px;
	display: inline-block;
	height: auto;
	margin:8px .5%;
	overflow: hidden;
	padding: 5px;
	transition:.2s all ease-in-out;
	-webkit-transition:.2s all ease-in-out;
	-moz-transition:.2s all ease-in-out;
	-ms-transition:.2s all ease-in-out;
	-o-transition:.2s all ease-in-out;
	position: relative;
	vertical-align: top;
	width: 100%;
}
.Album a{
	text-decoration: none;
}
.Album__cover{
	margin-bottom: 5px;
	overflow: hidden;
	height: 250px;
}
.Album__cover img{
	border-radius: 5px 5px 0px 0px;
	width: 100%;
	height: 250px;
}
.Album__title{
	padding: 10px;
	text-align: left;
}
.Album__title p{
	font-size: 1.1em;
	line-height: 1.1em;
	color: #272727;
	text-decoration: none !important;
}

/*======================
	ABOUT COMPONENT
=======================*/
.About{
	background-color: #592a7e;;
	padding: 30px 0px;
	max-width: 100%;
}
/*======================
	REGISTER COMPONENT
=======================*/
.Register{
	background-color: #e7e7e7;
	overflow: hidden;
	padding: 30px 0px;
	max-width: 100%;
}
.Register__input{
	display: block;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    color: #555;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857143;
    margin: 5px 0px;
    padding: 6px 12px;
    width: 100%;
}
.Register__input:focus{
	outline: 0;
	box-shadow: 0px 10px 10px rgba(0,0,0,.2)
}
.btn-register{
	background-color: #592a7e;
	border:1px solid #4A2269;
	color: white;
	padding: 12px 24px;
}
/*======================
	FOOTER COMPONENT
=======================*/
.Footer{
	background-color: #2B272D;
	max-width: 100%;
	padding: 30px 0px;
}

.Footer p{
	color:white;
	text-align: center;
}



/*
 *	ALBUM SONG LIST 
 */
.Header--electronica{
	background: url('../img/dg-cover.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: -200px 70px;
	height: 400px;
}

.Header--zoe{
	background: url('../img/zoe-cover.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: -100px 20px;
	height: 400px;
}

.Player{
	padding: 30px 0px;
	width: 100%;
}
.Player__song,
.Player__list{
	display: inline-block;
	height: auto;
	margin: 5px .5%;
}
.Player__song{
	background-color: #f6f7f7;
	padding: 10px;
	width: 100%;
}
.Player__song--img{
	float: left;
	height: 100px;
	width: 100%;
}
.Player__song--img img{
	margin:10px;
}
.Player__song--controls{
	float: left;
	height: 100px;
	width: 100%;
}

.progress{
	margin: 1em 0;
	position: relative;
}
.min,
.max{

	font-size: .8em;
	top: -5px ;
	position: absolute;
}
.min {
	left:0;
}
.max{
	right: 0;
}
.total{

	background: #c1c1c1;
	border-radius: 5px;
	height: 5px;
	margin: 0 auto;
	width: 75%;
}
.state{

	animation: 50s state infinite linear;
	background: red;
	border-radius: 5px;
	height: 5px;
	position: relative;
	width: 30%;
}
.circle{

	animation: 1s circle infinite;
	background: #272727;
	border-radius: 50%;
	height: 10px;
	position: absolute;
	right: 0;
	top: -2px;
	width: 10px;
}

@keyframes state{
	0%{
		width: 0;
	}
	100%{
		width: 100%;
	}
}
@keyframes circle{

	0%{
		transform:scale(1);
	}
	100%{

		transform: scale(2);
		opacity: 0;
	}
}

.Player__list{
	margin-top: 45px;
	padding: 10px;
	position: relative;
	width: 100%;
}

.Player__list::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
}

.Player__list::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.Player__list::-webkit-scrollbar-thumb
{
	background-color: #592a7e;	
}

.Player__list .list{
	list-style: none;	
}
.Player__list .list .items{
	padding: .8em 0;
}
.Player__list .list .items p{
	margin:4px 0;
	padding-left: 10px;
}
.Player__list .list .items .action{
	font-size: .8em;	
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	.container{
		max-width: 62.5em;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.container{
		max-width: 62.5em;
	}
	.Album{
    	width: 48%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.container{
		width: 47.87em;
	}
	.Header{
		height: 70vh;
	}
	.Album{
    	width: 48%;
    }
    .Register__input{
    	display: inline-block;
    	height: 42px;
    	margin: 0;
    	width: 80%;
    	vertical-align: top;
    }
	.btn-register{
		display: inline-block;
		vertical-align: top;
	}
	.Header--electronica{
		background-position: 0px 70px;
	}
	.Header--zoe{
		background-position: 0px -10px;
	}
	.Player__song{
		height: 400px;
		width: 48%;
	}
	.Player__song--img{
		height: 250px;
	}
	.Player__song--img img{
		height: 250px;
		margin:10px;
		width: 250px;
	}
	.Player__song--controls{
		height: 200px;
		margin-top: 20px;
	}
	.Player__list{
		max-height: 400px; 
		margin-top: 0px;
		overflow-y: auto;
		width: 48%;
	}
	.Player__list .list .items{
		cursor: pointer;
		padding: .8em 0;
	}
	.Player__list .list .items:hover{
		background-color: #592a7e;
		color:white;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.container{
		width:60.62em;
	}
	.Album{
    	width: 32%;
    }    
	.Album:hover{
		box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		transition:.2s all ease;
		-webkit-transition:.2s all ease;
		-moz-transition:.2s all ease;
		-ms-transition:.2s all ease;
		-o-transition:.2s all ease;
	}
	/*
	 *	VIEW SONGS LIST
	 */
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.container{
		width: 62.5em;
	}
	.Album{
		height: auto;
    	width: 32%;
    }
    .Album__title a{
		font-size: 1em;
		line-height: 1em;
	}
}