<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Brainup Music</title>
	<!--FONTS-->
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<!--ICONS-->
	<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
	<!--CUSTOM CSS-->
	<link rel="stylesheet" href="css/style.css">
</head>
	<body>
		<header class="Header Header--electronica">
			<div class="Header__top shadow-depth-1">
				<div class="container">					
					<div class="Header__Slogan left">
						<h2 class="title">David Guetta - <strong> LISTEN </strong> </h2>
					</div>
					<a href="#" class="menu__icon right"><i class="fa fa-bars"></i></a>
					<nav class="menu right">
						<ul class="menu__list">
							<li class="menu__items">Albums</li>
							<li class="menu__items">Songs</li>
							<li class="menu__items">Profile</li>
							<li class="menu__items">Settings</li>
						</ul>
					</nav>				
				</div>
			</div>
		</header>
		<section class="Player">
			<div class="container">
				<h2>Reproduciendo ahora: <span class="playing_now"> </span></h2>
				<section class="Player__song center-text shadow-depth-2">
					<div class="Player__song--img">
						<figure class="image">
							<img class="rounded" src="img/david-guetta.jpeg" alt="" height="80" width="80">
						</figure>
					</div>
					<div class="Player__song--controls">
						<div class="progress">
							<span class="min">0:00</span>
							<div class="total">
								<div class="state">
									<div class="circle"></div>
								</div>
							</div>
							<span class="max"></span>
						</div>
						<div class="description center-text">
							<p><span class="song__name"></span> <span class="song__author"></span></p>
						</div>
						<div class="play center-text padding-tb">
							<a href="" class="action"><i class="fa fa-backward gray"></i></a>
							<a id="play" href="" class="action"><i class="fa fa-play gray"></i></a>
							<a href="" class="action"><i class="fa fa-forward gray"></i></a>
							<a href="" class="action"><i class="fa fa-volume-up"></i></a>
							<a href="" class="action"><i class="fa fa-volume-down"></i></a>
						</div>	
					</div>
				</section>
				<aside class="Player__list shadow-depth-2">
					<ul id="Player__songs" class="list">
						<!--<li class="items border-bottom song activeSong" data-id="{{TrackId}}">
							<p><span>Dangerous </span></p>
							<p><span>David Guetta feat. Sam Smith </span></p>
						</li>
						<li class="items border-bottom song" data-id="{{TrackId}}">
							<p><span>Dangerous </span></p>
							<p><span>David Guetta feat. Sam Smith </span></p>
						</li>
						<li class="items border-bottom song" data-id="{{TrackId}}">
							<p><span>Dangerous </span></p>
							<p><span>David Guetta feat. Sam Smith </span></p>
						</li>
						<li class="items border-bottom song" data-id="{{TrackId}}">
							<p><span>Dangerous </span></p>
							<p><span>David Guetta feat. Sam Smith </span></p>
						</li>
						<li class="items border-bottom song" data-id="{{TrackId}}">
							<p><span>Dangerous </span></p>
							<p><span>David Guetta feat. Sam Smith </span></p>
						</li>
						<li class="items border-bottom song" data-id="{{TrackId}}">
							<p><span>Dangerous </span></p>
							<p><span>David Guetta feat. Sam Smith </span></p>
						</li>
						<li class="items border-bottom song" data-id="{{TrackId}}">
							<p><span>Dangerous </span></p>
							<p><span>David Guetta feat. Sam Smith </span></p>
						</li>
						<li class="items border-bottom song" data-id="{{TrackId}}">
							<p><span>Dangerous </span></p>
							<p><span>David Guetta feat. Sam Smith </span></p>
						</li>
						<li class="items border-bottom song" data-id="{{TrackId}}">
							<p><span>Dangerous </span></p>
							<p><span>David Guetta feat. Sam Smith </span></p>
						</li>-->
					</ul>
				</aside>
			</div>
		</section>
	<!--TEMPLATES-->
	<script type="html/x-handlebars" id="song-tmpl">
		{{#each songs}}
			<li class="song items border-bottom" data-id="{{@index}}">
				<p><span>{{ Name }} </span></p>
				<p><span>{{ Collaborators }} </span></p>
			</li>
		{{/each}}
	</script>
	<!--LIBS-->
	<script src="js/libs/jquery.min.js"></script>
	<script src="js/libs/handlebars.min.js"></script>
	<script src="js/libs/observable.js"></script>
	<script src="js/view.js"></script>
	<script>
		controller.init('david-guetta-album');
	</script>
	</body>
</html>