<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Brainup Music</title>
	<!--FONTS-->
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<!--ICONS-->
	<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
	<!--CUSTOM CSS-->
	<link rel="stylesheet" href="css/style.css">
</head>
	<body>
		<header class="Header">
			<div class="Header__top shadow-depth-1">
				<div class="container">
					<div class="Header__Slogan left">
						<h2 class="title">Brainup <strong>Music</strong> <small>The smart music</small> </h2>
					</div>
					<a href="#" class="menu__icon right"><i class="fa fa-bars"></i></a>
					<nav class="menu right">
						<ul class="menu__list">
							<li class="menu__items">Albums</li>
							<li class="menu__items">Songs</li>
							<li class="menu__items">Profile</li>
							<li class="menu__items">Settings</li>
						</ul>
					</nav>				
				</div>
			</div>
		</header>
		<section class="Albums">
			<div class="container">
				<h2 class="title">My Albums</h2>
				<div id="list-albums"></div>
			</div>
		</section>
		<section class="About">
			<div class="container">
				<h1 class="title text-white">About <strong>BRAINUP MUSIC</strong></h1>
				<p class="text text-white">
					ratione mollitia incidunt doloribus. Eveniet quis, consequatur, iusto fuga quam dolore! Aut in error totam provident, odit tempore voluptates. <br><br>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex possimus molestiae fugiat sed incidunt facilis in ullam nobis vel est molestias ab tempore numquam aperiam doloribus, tempora modi magni, nesciunt!

					Siempre si dira, German ejemplo!
				</p>
			</div>
		</section>
		<section class="Register">
			<div class="container">
				<div class="Register__form">
					<h2>Subscribe you and stay connected!</h2>
					<form>
						<input type="text" class="Register__input">
						<button class="btn btn-register right"><i class="fa fa-paper-plane"></i> Subscribe</button>
					</form>
				</div>
			</div>
		</section>
		<footer class="Footer">
			<div class="container">
				<p> Brainup <strong>Music</strong> 2015 &copy; </p>
			</div>
		</footer>

	<!--TEMPLATES-->
	<script id="album-tmpl" type="text/x-handlebars-template">
	 	{{#each Albums}}
	 		<article class="Album shadow-depth-1">
				<a href="{{Link}}">
					<div class="Album__cover">
						<figure class="figure">
							<img src="img/{{Cover}}" alt="">
						</figure>
					</div>
					<div class="Album__title">
						<p>
							<i class="fa fa-play-circle"></i>
							{{ Name }} - {{ Author }}
						</p>
					</div>
				</a>
			</article>
	 	{{/each}}
	</script>
	<!--LIBS-->
	<script src="js/libs/jquery.min.js"></script>
	<script src="js/libs/handlebars.min.js"></script>
	<script src="js/app.js"></script>	
	</body>
</html>